.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table { display: table; }
.table>* { display: table-row; }
.table>*>* { display: table-cell; }

.form-inline {
  display:inline;
}