[Unit]
Description=testui frontend
After=network.target
Wants=network.target

[Service]
User=root
Type=simple
Environment=HOME=/root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/pi/testui/venv/bin
WorkingDirectory=/home/pi/testui
ExecStart=/home/pi/testui/venv/bin/http_start.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
